body{
font-family: "Arial black",Helvetica,Arial,sans-serif;
font-size: 15px;
line-height: 1.5;
color: #333;
background-color:#fff;
font-weight: bold;
margin:10px;
padding: 10px;
}

[class*="col-"]{
	border-radius: 1px;
	line-height: 20px;
}
nav li:hover{
	background-color: #9b59b6;
}

.mo{
	border-top: 6px solid #2ecc71;
	border-bottom:6px solid #2ecc71;
	color: #2ecc71;
	position: absolute;
	top:45%;
	left: 45%;
    padding:px; 
    font-size: 20px;
    width: 330px;
    font-weight: bold;
}
.more{
	font-size: 20px;
	border: 4px solid #ccc;
	color: white;
	position:absolute;
	top: 70%;
	left: 30%;
	margin: 15px;
	padding: 15px;
}

img{
    max-width:100%;
	height: auto;
}
.f{
	background-color: #ccc;
	margin:20px;
	padding: 12px;
    position: absolute;
    top:-30%;
    left: 0%;
    font-size: 25px;
    font-weight: bold;
}
#de{
	position:absolute ;
    left:80px;
    display: block;
}

.row{
	margin-bottom:70px;

}
.mer{
	width: 300px;
	font-size: 20px;
	border: 4px solid #2ecc71;
	color: #2ecc71;
	margin: 15px;
	padding: 15px;
	text-align: center;
}
#merci{
	position: relative;
	top:-60px;
}
.ber{
	border-bottom: 1px solid #2ecc71;
	line-height: 2em;
	margin-bottom:30px;
	padding-bottom: 25px;
	height: 130px;
}
#par{

	background-color: #2ecc71;
	padding: 8px;
}


#er{

	background-color: #2ecc71;
	padding: 8px;
}

#pe{

	background-color: #2ecc71;
	padding: 8px;
}

#per{

	background-color: #2ecc71;
	padding: 8px;
}

#pa{

	background-color: #2ecc71;
	padding: 8px;
}


#pro{
	line-height: 0.5em;
	text-align: center;
	height: 300px;

}
.h{
	text-align: center;
}
#footer{
	background-color:#1abc9c;
	color: #2c3e50;
	width: 100%;
	margin-bottom: -55px;
	height:100%;
}
#un{
	background-color: black;
	color:white;
	

}
#res{
	background-color: #ecf0f1;
	height: 300px;
}
#photo{
	background-color: #ecf0f0;
}
.formation{
      border-bottom: 40px;
}
.foot{
	text-align: center;
	background-color: #2c3e50;
	color: #ccc;
	margin: -15px;
	font-size: 10px;
}
}
#mes{
	padding-left: 10px;
}
.mere:hover{
	background-color: #3498db;
 }

 @media screen and (max-width: 768px) {
  .container {
    width: 750px;
  }
}
@media screen and (max-width: 992px) {
  .container {
    width: 970px;
  }
}
@media screen and(max-width: 1200px) {
  .container {
    width: 11700px;
  }
}



